.container {
    position: relative;
    height: 100%;
    width: 100%;
    aspect-ratio: inherit;
    --offset: 2px;
}

.track {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    aspect-ratio: inherit;
    border-radius: var(--offset);
    border: calc(var(--offset) / 2) solid var(--bg);
}

.nav {
    position: absolute;
    bottom: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: clamp(1.2rem, 6%, 1.8rem);
    width: 100%;
    background-color: transparent;
}

.nav > * {
    height: 50%;
    aspect-ratio: 1/1;
    border: none;
    background-color: rgb(125, 125, 125);
    margin-inline: .6rem;
}


.nav > *:hover {
    background-color: rgb(90, 90, 90);
    transform: scale(1.1);
    transform: none;
}

.nav > *:focus {
    border: none;
    transform: none;
}

.nav_selected {
    background-color: rgb(50, 50, 50);
}

.nav_selected:hover {
    background-color: rgb(50, 50, 50);
    transform: none;
}

.next, .prev {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--offset);
    background-color: transparent;
}

.next {
    right: var(--offset);
}

.prev {
    left: var(--offset);
}

:is(.next, .prev) > * {
    border-radius: 0;
    border: none;
    height: 6%;
    background-color: transparent;
}

:is(.next, .prev) > *:hover {
    transform: scale(1.05);
}

.slides {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.slide {
    height: 100%;
    width: 100%;
}

.slide > * {
    all: inherit;
}

.slide img {
    object-fit: cover;
}
