.icon {
    background-size: contain !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 1/1 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
}

.icon::before, .icon::after {
    display: none;
}

.left {
    background-image: url('../resources/left.svg');
}

.right {
    background-image: url('../resources/right.svg');
}