.neon {
    position: relative;
    background-color: transparent !important;
    border: .125em solid currentColor !important;
    text-shadow:
      0 0 .15em rgba(255, 255, 255, .3),
      0 0 .5em currentColor !important;
    
    box-shadow: 
      inset 0 0 .5em 0 currentColor,
      0 0 .75em currentColor !important;
  
    --trs: 100ms;
    transition: box-shadow var(--trs) !important;
}
  
.neon:hover {
    border: .125em solid currentColor !important;
    text-shadow:
        0 0 .1em rgba(255, 255, 255, .3),
        0 0 .2em currentColor !important;

    box-shadow: 
        inset 0 0 .8em 0 currentColor,
        0 0 1em currentColor !important;
}
  
.neon:active {
    background-color: currentColor !important;
    text-shadow: 0 0 3px black !important;
    box-shadow: 0 0 2em currentColor !important;
}
  
.neon::after {
    content: '' !important;
    pointer-events: none !important;
    position: absolute !important;
    inset: 0 0 0 0 !important;
    background-color: currentColor !important;
    transform: translateY(120%) perspective(1em) rotateX(40deg) scale(1, .35) !important;
    filter: blur(1.5em) !important;
    opacity: .75;
    transition: opacity var(--trs) !important;
}
  
.neon:hover::after {
    opacity: .85 !important;
    filter: blur(1.2em) !important;
    transform: translateY(120%) perspective(1em) rotateX(40deg) scale(1, .4) !important;
}

.neon:active::after {
    opacity: .9 !important;
    filter: blur(1em) !important;
    transform: translateY(120%) perspective(1em) rotateX(40deg) scale(1.1, .45) !important;
}