
/** Main Themes **/

.sky {
    background: rgb(230, 230, 255);
    color: black;
}

.choco {
    background: rgb(167, 97, 26);
    color: white;
}

.velvet {
    background: rgb(140, 30, 50);
    color: white;
}

.milk {
    background: rgb(250, 245, 245);
    color: black;
}

.cream {
    background: rgb(240, 220, 220);
    color: black;
}

.wave {
    background: linear-gradient(45deg, rgb(58, 225, 255), rgb(49, 232, 219));
    color: white;
}

.arctic {
    background: linear-gradient(90deg, rgb(0, 200, 255), rgb(0, 230, 255));
    color: white;
}

.fire {
    background: linear-gradient(90deg, rgb(255, 0, 50), rgb(255, 100, 0));
    color: white;
}

.danger {
    background: red;
    color: white;
}

.organic {
    background: linear-gradient(90deg, rgb(50, 200, 50), rgb(30, 175, 30));
    color: white;
}

.sunny {
    background: linear-gradient(90deg, rgb(255, 225, 0), rgb(255, 205, 0));
    color: white;
}

.royal {
    background: linear-gradient(90deg, rgb(200, 0, 255), rgb(100, 0, 255) );
    color: white;
}

.dark {
    background: rgb(50, 50, 50);
    color: white;
}

.dash {
    background: linear-gradient(-60deg, rgb(75, 75, 75) 50%, rgb(125, 125, 125) 50%);
    color: white;
}

.fade {
    background: linear-gradient(90deg, rgb(125, 125, 125), rgb(75, 75, 75));
    color: white;
}

.prison {
    background: linear-gradient(-60deg, rgb(25, 25, 25) 50%, rgb(255, 125, 0) 50%);
    color: white;
}

.mkhb {
    background: linear-gradient(-60deg, rgb(25, 25, 25) 50%, rgb(225, 0, 0) 50%);
    color: white;
}

.hot {
    background: linear-gradient(90deg, rgb(255, 50, 50), rgb(220, 0, 145));
    color: white;
}