.text_content {
    width: min(100%, 65ch);
    padding: 1em;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.page {
    width: 100%;
    min-height: 100vh;
}

.centered_self {
    margin-inline: auto;
}

.flex_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}